<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Allot</title>
    </head>
    <body>
        <div class ="container">
            <form method = POST>
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Roll Number&#9;: </td>
                        <td><input type="text" id ="roll" name ="roll" size="7" required></td>
                    </tr>
                    <tr>
                        <td>CGPA&#9;&#9;: </td>
                        <td><input type="text" id ="cgpa" name ="cgpa" size="7" required></td>
                    </tr>
                    <tr>
                        <td>Course ID&#9;: </td>
                        <td><input type="text" id ="cid" name ="cid" size="7" required></td>
                    </tr>
                    <tr>
                        <td><input type ="submit" value="Allot"></td>
                    </tr>
                </table>
            </form>
        </div>
        <br><br>
        {% if message %}
            <h2>{{ message }}</h2>
        {% endif %}
    </body>
</html>