<!DOCTYPE html>
<html>
<head>
	<title>Allotted Elective</title>
    <style>
        .auto-index td:first-child:before {
            counter-increment: Serial;
            content: counter(Serial);
        }
        body {
            counter-reset: Serial;
        }
    </style>
</head>
<body>
    <form method = POST>
    {% csrf_token %}
        <span class="glyphicon glyphicon-refresh"></span><input id="submit" type="submit" class="btn btn-sm btn-primary hidden-print" value="Re-allot electives"/>
    </form>
    <button type="button" onclick="window.print()" class="btn btn-sm btn-primary hidden-print"><span class="glyphicon glyphicon-print"></span> Print</button>
	<div>
		<table class="auto-index">
			<thead>
				<tr>
					<th>S. No</th>
					<th>Roll Number</th>
					<th>Name</th>
					<th>Class</th>
					<th>Department</th>
					<th>CGPA</th>
					<th>Alloted Elective</th>
					<th>Preference Number</th>
				</tr>
			</thead>
			<tbody>
				{% for s in data %}
				<tr>
					<td></td>
					<td>{{s.roll_no}}</td>
					<td>{{s.name}}</td>
					<td>{{s.class}}</td>
					<td>{{s.department}}</td>
					<td>{{s.cgpa}}</td>
					<td>{{s.allotted_elective}}</td>
					<td>{{s.priority}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</body>
</html>