<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
</head>
<body>
    <div class ="container">
        <h3>Here is the Required Search Result </h3>
        {% if skey %}
        
        <table>
            <tr>
                <td>ID : </td>
                <td>{{skey.id}}</td>
            </tr>
            <tr>
                <td>Roll Number : </td>
                <td>{{skey.roll}}</td>
            </tr>
            <tr>
                <td>CGPA :</td>
                <td>{{skey.cgpa}}</td>
            </tr>
            <tr>
                <td>Alloted </td>
                <td>{{skey.allotted}}</td>
            </tr>
            <tr>
                <td>Alloted Elective </td>
                <td>{{skey.allotted_elective}}</td>
                
            </tr>
        </table>
        
        {% endif %}

        {%if skey2 %}
        {% for s in skey2 %}
        <table>
            <tr>
                <th>ID</th>
                <th>Roll Number </th>
                <th>Course Id</th>
                <th>Priority</th>
            </tr>
            <tr>
                <th>{{s.id}}</th>
                <th>{{s.student_id}}</th>
                <th>{{s.course_id}}</th>
                <th>{{s.priority}}</th>
            </tr>
        </table>
        {% endfor %}
        {% endif %}

    </div>
</body>
</html>